<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>db-flow</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/css/elementui.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<div id="app">
    <div class="header">
        <div class="menu-item">
            <a href="javascript:window.location.href='index.html'">首页</a>
        </div>
        <div class="menu-item active">
            <a href="javascript:window.location.href='db.html'">数据库工具</a>
        </div>
    </div>
    <div class="content">
        <el-row v-if="configVisible" class="config-box">
            <el-col  :lg="12" :xl="4">
                <el-card>
                    <div class="title">1.连接数据库</div>
                    <el-form :model="dataForm" label-width="80px">
                        <el-form-item label="Host">
                            <el-input v-model="dataForm.host" placeholder="请输入Host"></el-input>
                        </el-form-item>
                        <el-form-item label="Port">
                            <el-input v-model="dataForm.port" placeholder="请输入Port"></el-input>
                        </el-form-item>
                        <el-form-item label="User">
                            <el-input v-model="dataForm.user" placeholder="请输入User"></el-input>
                        </el-form-item>
                        <el-form-item label="Pass">
                            <el-input v-model="dataForm.password" type="password" placeholder="请输入Pass"></el-input>
                        </el-form-item>
                        <el-form-item label="DataBase">
                            <el-input v-model="dataForm.dataBase" placeholder="请输入DataBase"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button @click="getDbConn" type="primary">连接</el-button>
                        </el-form-item>
                    </el-form>
                </el-card>
            </el-col>
            <el-col  :lg="12" :xl="8">
                <el-card>
                    <div class="title">2.显示数据表</div>
                    <div style="height: 372px;width: 100%">
                        <el-transfer v-model="checkTables" :data="tables"></el-transfer>
                    </div>

                </el-card>
            </el-col>
            <el-col  :lg="24" :xl="12">
                <el-card>
                    <div class="title">3.修改数据表</div>
                    <el-select v-model="table" placeholder="请选择表" @change="tableChange" size="mini"
                               style="margin-bottom: 10px">
                        <el-option
                                v-for="item in tables"
                                :key="item.key"
                                :label="item.label"
                                :value="item.key">
                        </el-option>
                    </el-select>
                    <el-button type="primary" size="mini" :disabled="emptyVisible" @click="schemaAddOrUpdateHandle()">新增</el-button>
                    <el-button type="danger" size="mini" @click="schemaDeleteHandle()">删除</el-button>
                    <el-table :data="tableSchema" height="334px" @selection-change="schemaSelectionChangeHandle">
                        <el-table-column type="selection" align-header="center"
                                         align="center"></el-table-column>
                        <el-table-column label="字段名称" align-header="center" align="center" prop="Field"
                                         width="200"></el-table-column>
                        <el-table-column label="数据类型" align-header="center" align="center"
                                         prop="Type"></el-table-column>
                        <el-table-column label="默认值" align-header="center" align="center"
                                         prop="Default"></el-table-column>
                        <el-table-column label="其他" align-header="center" align="center"
                                         prop="Extra"></el-table-column>
                        <el-table-column label="是否为空" align-header="center" align="center"
                                         prop="Null"></el-table-column>
                        <el-table-column label="描述" align-header="center" align="center" prop="Comment"
                                         show-overflow-tooltip></el-table-column>
                        <el-table-column label="索引" align-header="center" align="center">
                            <template slot-scope="scope">
                                <el-tag v-if="scope.row.Key">{{scope.row.Key}}</el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column label="操作" align-header="center" align="center" fiexed="right">
                            <template slot-scope="scope">
                                <el-button type="text" @click="schemaAddOrUpdateHandle(scope.row)">修改</el-button>
                                <el-button type="text" @click="schemaDeleteHandle(scope.row)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-card>
            </el-col>
        </el-row>
        <el-row class="data-box">
                <div style="text-align: center">
                    <i :class="`${configVisible?'el-icon-arrow-up':'el-icon-arrow-down'}`"
                       @click="configVisible=!configVisible" style="cursor: pointer"></i>
                </div>
                <el-tabs v-model="table" @tab-click="handleClick">
                    <el-empty description="暂无数据" v-if="emptyVisible"></el-empty>
                    <el-tab-pane v-for="(item,index) in checkTables" :label="item" :name="item">
                        <div>
                            <el-form size="mini" label-width="80px" :inline="true">
                                <el-form-item label="关键字">
                                    <el-input placeholder="请输入关键字"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="default" icon="el-icon-search">查询</el-button>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="addOrUpdateHandle()">新增</el-button>
                                    <el-button type="danger" @click="deleteHandle()">删除</el-button>
                                </el-form-item>
                            </el-form>
                            <el-table :data="dataList" v-loading="dataListLoading"
                                      @selection-change="selectionChangeHandle">
                                <el-table-column type="selection" align-header="center"
                                                 align="center"></el-table-column>
                                <el-table-column v-for="(item,index) in tableSchema" :label="item.Comment" :key="index"
                                                 :prop="item.Field" align-header="center" show-overflow-tooltip
                                                 align="center"></el-table-column>
                                <el-table-column label="操作" align-header="center" align="center" fiexed="right">
                                    <template slot-scope="scope">
                                        <el-button type="text" @click="addOrUpdateHandle(scope.row)">修改</el-button>
                                        <el-button type="text" @click="deleteHandle(scope.row)">删除</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                            <el-pagination
                                    @size-change="sizeChangeHandle"
                                    @current-change="currentChangeHandle"
                                    :current-page="pageIndex"
                                    :page-sizes="[10, 20, 50, 100]"
                                    :page-size="pageSize"
                                    :total="totalPage"
                                    layout="total, sizes, prev, pager, next, jumper">
                            </el-pagination>
                        </div>
                    </el-tab-pane>
                </el-tabs>
        </el-row>
        <!--更新或修改dialog-->
        <div>
            <el-dialog :title="schemaFlag?'新增':'修改'" :close-on-click-modal="false" :visible.sync="schemaAddOrUpdateVisible">
                <el-form :model="schemaForm" label-width="120px">
                    <el-form-item label="字段名称">
                        <el-input v-model="schemaForm.Field"></el-input>
                    </el-form-item>
                    <el-form-item label="数据类型">
                        <el-select v-model="schemaForm.Type">
                            <el-option v-for="(item,index) in typeOptions" :key="index" :label="item" :value="item"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="数据长度" v-if="schemaForm.Size!==undefined">
                        <el-input v-model="schemaForm.Size"></el-input>
                    </el-form-item>
                    <el-form-item label="默认值">
                        <el-input v-model="schemaForm.Default"></el-input>
                    </el-form-item>
                    <el-form-item label="其他">
                        <el-input v-model="schemaForm.Extra"></el-input>
                    </el-form-item>
                    <el-form-item label="是否为空">
                        <el-switch
                                v-model="schemaForm.Null"
                                active-color="#13ce66"
                                inactive-color="#ff4949"
                                active-value="YES"
                                inactive-value="NO">
                        </el-switch>
                    </el-form-item>
                    <el-form-item label="描述">
                        <el-input v-model="schemaForm.Comment"></el-input>
                    </el-form-item>
                    <el-form-item label="索引">
                        <el-radio-group v-model="schemaForm.Key">
                            <el-radio-button label="PRI"></el-radio-button>
                            <el-radio-button label="MUL"></el-radio-button>
                        </el-radio-group>
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
      <el-button @click="schemaAddOrUpdateVisible = false">取消</el-button>
      <el-button type="primary" @click="schemaAddOrUpdateSubmit()">确定</el-button>
    </span>
            </el-dialog>
            <el-dialog
                    :title="!keyIndex ? '新增' : '修改'"
                    :close-on-click-modal="false"
                    :visible.sync="addOrUpdateVisible">
                <el-form label-width="120px">
                    <el-form-item v-for="(item,index) in addOrUpdateForm" :label="item.key" :key="index">
                        <el-input v-model="item.value"></el-input>
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
      <el-button @click="addOrUpdateVisible = false">取消</el-button>
      <el-button type="primary" @click="addOrUpdateSubmit()">确定</el-button>
    </span>
            </el-dialog>
        </div>
    </div>
</div>
<!-- 引入组件库 -->
<script src="/static/js/vue.js"></script>
<script src="/static/js/elementui.js"></script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/db.js"></script>
</body>
</html>