<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>db-flow</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/css/elementui.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<div id="app">
    <div class="header">
        <div class="menu-item">
            <a href="javascript:window.location.href='index.html'">首页</a>
        </div>
        <div class="menu-item active">
            <a href="javascript:window.location.href='db.html'">数据库工具</a>
        </div>
    </div>
    <div class="content">
        <el-row :gutter="10" v-if="configVisible">
            <el-col :span="4">
                <el-card>
                    <div class="title">1.连数据库接</div>
                    <el-form :model="dataForm" label-width="80px">
                        <el-form-item label="Host">
                            <el-input v-model="dataForm.host" placeholder="请输入Host"></el-input>
                        </el-form-item>
                        <el-form-item label="Port">
                            <el-input v-model="dataForm.port" placeholder="请输入Port"></el-input>
                        </el-form-item>
                        <el-form-item label="User">
                            <el-input v-model="dataForm.user" placeholder="请输入User"></el-input>
                        </el-form-item>
                        <el-form-item label="Pass">
                            <el-input v-model="dataForm.password" type="password" placeholder="请输入Pass"></el-input>
                        </el-form-item>
                        <el-form-item label="DataBase">
                            <el-input v-model="dataForm.dataBase" placeholder="请输入DataBase"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button @click="getDbConn" type="primary">连接</el-button>
                        </el-form-item>
                    </el-form>
                </el-card>
            </el-col>
            <el-col :span="8">
                <el-card>
                    <div class="title">2.显示数据表</div>
                    <div style="height: 372px;width: 100%">
                        <el-transfer v-model="checkTables" :data="tables"></el-transfer>
                    </div>

                </el-card>
            </el-col>
            <el-col :span="12">
                <el-card>
                    <div class="title">3.修改数据表</div>
                    <el-select v-model="table" placeholder="请选择表" @change="tableChange" size="mini"
                               style="margin-bottom: 10px">
                        <el-option
                                v-for="item in tables"
                                :key="item.key"
                                :label="item.label"
                                :value="item.key">
                        </el-option>
                    </el-select>
                    <el-table :data="tableSchema" height="334px" border>
                        <el-table-column label="字段名称" align-header="center" align="center" prop="columnName"
                                         width="200"></el-table-column>
                        <el-table-column label="数据类型" align-header="center" align="center"
                                         prop="columnType"></el-table-column>
                        <el-table-column label="字段长度" align-header="center" align="center"
                                         prop="dataSize"></el-table-column>
                        <el-table-column label="是否为空" align-header="center" align="center"
                                         prop="nullable"></el-table-column>
                        <el-table-column label="描述" align-header="center" align="center" prop="remarks"
                                         show-overflow-tooltip></el-table-column>
                        <el-table-column label="" align-header="center" align="center" label="索引">
                            <template slot-scope="scope">
                                <el-tag v-if="scope.row.primaryKey">主键</el-tag>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-card>
            </el-col>
        </el-row>
        <el-row>
            <el-card>
                <div style="text-align: center">
                    <i :class="`${configVisible?'el-icon-arrow-up':'el-icon-arrow-down'}`"
                       @click="configVisible=!configVisible" style="cursor: pointer"></i>
                </div>
                <el-tabs v-model="table" @tab-click="handleClick">
                    <el-empty description="暂无数据" v-if="emptyVisible"></el-empty>
                    <el-tab-pane v-for="(item,index) in checkTables" :label="item" :name="item">
                        <div>
                            <el-form size="mini" label-width="80px" :inline="true">
                                <el-form-item label="关键字">
                                    <el-input placeholder="请输入关键字"></el-input>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="default" icon="el-icon-search">查询</el-button>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="addOrUpdateHandle()">新增</el-button>
                                    <el-button type="warning">修改</el-button>
                                    <el-button type="danger" @click="deleteHandle()">删除</el-button>
                                    <el-button type="success">导出</el-button>
                                </el-form-item>
                            </el-form>
                            <el-table :data="dataList" v-loading="dataListLoading"
                                      @selection-change="selectionChangeHandle">
                                <el-table-column type="selection" align-header="center"
                                                 align="center"></el-table-column>
                                <el-table-column v-for="(item,index) in tableSchema" :label="item.remarks" :key="index"
                                                 :prop="item.columnName" align-header="center" show-overflow-tooltip
                                                 align="center"></el-table-column>
                                <el-table-column label="操作" align-header="center" align="center" fiexed="right">
                                    <template slot-scope="scope">
                                        <el-button type="text" @click="addOrUpdateHandle(scope.row)">修改</el-button>
                                        <el-button type="text" @click="deleteHandle(scope.row)">删除</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                            <el-pagination
                                    @size-change="sizeChangeHandle"
                                    @current-change="currentChangeHandle"
                                    :current-page="pageIndex"
                                    :page-sizes="[10, 20, 50, 100]"
                                    :page-size="pageSize"
                                    :total="totalPage"
                                    layout="total, sizes, prev, pager, next, jumper">
                            </el-pagination>
                        </div>
                    </el-tab-pane>
                </el-tabs>
            </el-card>

        </el-row>
        <!--更新或修改dialog-->
        <div>
            <el-dialog
                    :title="!keyIndex ? '新增' : '修改'"
                    :close-on-click-modal="false"
                    :visible.sync="addOrUpdateVisible">
                <span slot="footer" class="dialog-footer">
                    <el-form label-width="120px">
                        <el-form-item v-for="(item,index) in addOrUpdateForm" :label="item.key" :key="index">
                            <el-input v-model="item.value"></el-input>
                        </el-form-item>
                    </el-form>
      <el-button @click="addOrUpdateVisible = false">取消</el-button>
      <el-button type="primary" @click="addOrUpdateSubmit()">确定</el-button>
    </span>
            </el-dialog>
        </div>
    </div>
</div>
<!-- 引入组件库 -->
<script src="/static/js/vue.js"></script>
<script src="/static/js/elementui.js"></script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/db.js"></script>
</body>
</html>