<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/css/elementui.css">
    <link rel="stylesheet" href="/static/css/ol.css">
    <link rel="stylesheet" href="/static/css/index.css">

</head>
<body>
<div id="app">
    <div class="header">
        <div class="menu-item active">
            <a href="javascript:window.location.href='index.html'">首页</a>
        </div>
        <div class="menu-item">
            <a href="javascript:window.location.href='db.html'">数据库工具</a>
        </div>
    </div>
    <div class="content">
        <div id="map"></div>
    </div>

</div>
<!-- 引入组件库 -->
<script src="/static/js/vue.js"></script>
<script src="/static/js/elementui.js"></script>
<script src="/static/js/ol.js"></script>
<script src="/static/js/index.js"></script>
</body>
</html>